html{
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.hexagon-container{
  display: flex;
  flex-direction: column;
}

.hexagon-container .content{
  position: relative;
}

.hexagon-container .content .hex-item{
  position: absolute;
  transition: all 0.3s ease 0s;
}

.hexagon-container .header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-container .footer{
  height: 10%;
  width: 100%;
}

.hexagon-container .footer .game-status-alert{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hexagon-container .form-inline .form-control.input-small{
  width: 50px;
}